html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 5rem;
}

.project-image-container {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image-container:hover {
  box-shadow: 0 0 20px rgba(30, 41, 59, 0.2);
  border-color: #1e293b;
}